.error-boundary {
  padding: 5rem;
  max-width: 1300px;
  h2 {
    color: $red;
    margin: 2rem 0;
    font-weight: 600;
  }
  h3 {
    padding: 1rem 0;
  }
  span {
    color: $red;
    weight: 500;
  }
  article {
    padding: 1.5rem 0;
  }
}
